# Postgres
POSTGRES_USER=quieteyes
POSTGRES_PASSWORD=quieteyes
POSTGRES_DB=quieteyes

# Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Web
NEXT_PUBLIC_API_URL=http://localhost:8000
